#container {
  display: grid;
  grid-auto-columns: min-content 1fr;
  grid-template-areas: "sidebar  main";
  width: 100%;
}

#sidebar {
  background-color: #242424;
}

#contentWrapper {
  width: 100%;
  min-height: 100vh;
}

#drawerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#drawerContainer .drawerButton {
  background: none;
  border: none;
  padding: 1.5rem 0;
  color: var(--light);
  font-size: 1.5rem;
}
