.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem 0.5rem;

  & + & {
    border-top: 1px solid #efefef;
  }

  &:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
  }

  .unreadIndicator {
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    border: none;
    background: none;
    background-color: #4376d8;
    border-radius: 50%;
    margin-top: 4px;
    margin-right: 1rem;
    cursor: pointer;
  }
}

.content {
  span {
    font-family: var(--text);
    display: block;
  }

  span.date {
    color: #8f8f8f;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
}

.buttonsWrapper {
  margin-top: 1rem;

  .declineButton,
  .acceptButton {
    border: none;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    font-family: var(--text);
    font-weight: bold;
  }

  .declineButton {
    background-color: #d85c43;
    background-color: #dfdfdf;
    color: var(--dark);
    margin-right: 1rem;
  }

  .acceptButton {
    background-color: #4376d8;
    color: var(--light);
  }
}
