#hero {
  width: 26rem;
  height: 26rem;
}

/* 1200px */
@media (min-width: 75rem) {
  #hero {
    width: 28rem;
    height: 28rem;
  }
}

/* 1500px */
@media (min-width: 93.75rem) {
  #hero {
    width: 32rem;
    height: 32rem;
  }
}
