#hero {
  width: 26rem;
  height: 26rem;
}
#eye1 {
  animation: moveLeftEye 10s ease-in-out forwards infinite;
}

#eye2 {
  animation: moveRightEye 10s ease-in-out forwards infinite;
}

#postit {
  animation: postmove 6s ease-in-out;
}

@keyframes moveLeftEye {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(1px) translateY(2px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes moveRightEye {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(1px) translateY(2px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes postmove {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(40%);
  }
  100% {
    opacity: 0;
    transform: translatex(40%);
  }
}

/* 1200px */
@media (min-width: 75rem) {
  #hero {
    width: 28rem;
    height: 28rem;
  }
}

/* 1500px */
@media (min-width: 93.75rem) {
  #hero {
    width: 32rem;
    height: 32rem;
  }
}
