.preference {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: 3.5rem;

    /* 700px */
    @media (min-width: 43.75rem) {
      margin-top: 1.5rem;
    }
  }

  /* 700px */
  @media (min-width: 43.75rem) {
    flex-direction: row;
    align-items: center;
  }

  .description {
    font-weight: normal;
    font-family: var(--text);
    color: var(--dark);

    /* 700px */
    @media (min-width: 43.75rem) {
      width: 30rem;
    }
  }

  .preferenceButtons {
    margin-top: 1rem;

    /* 700px */
    @media (min-width: 43.75rem) {
      margin-top: 0;
      margin-left: 2rem;
    }

    .preferenceButton {
      background: none;
      background-color: #f9f9f9;
      border: none;
      border: 1px solid #d1d1d1;
      cursor: pointer;
      padding: 0.4rem 1rem;
      font-weight: normal;
      font-family: var(--text);

      &:first-child {
        border-right: 1px solid transparent;
        margin-right: -1px;
      }
    }
  }
}
