@import "./Project.variables.scss";

#container {
  height: 100%;
  display: grid;
  grid-auto-rows: min-content 1fr;
  grid-template-areas:
    "header"
    "main";

  main {
    height: 100%;
    background-color: #ebebeb;
    padding: 0 1.25rem 3.5rem;

    /* 996px */
    @media (min-width: 62.25rem) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    /* 1200px */
    @media (min-width: 75rem) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}

#membersButton {
  background: none;
  border: none;
  font-family: var(--text);
  margin-right: 1.875rem;
  font-size: 1.25rem;
  color: #666666;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    color: #333333;
  }
}

#headerOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $optionsContainerHeight;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 0 1.25rem;
  position: relative;
  z-index: 1;
}

#optionsContainer {
  display: flex;
  align-items: center;
}

#viewOptionsContainer {
  display: flex;
  align-items: center;
  margin-left: 5rem;

  > *:nth-child(even) {
    margin-left: 2.875rem;
  }
}

#updateButton {
  background: none;
  border: none;
  cursor: pointer;
}

#emptyListButton {
  color: #4376d8;
  font-size: 1.15rem;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#emptyListButton::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #4376d8;
  position: absolute;
  bottom: 0;
  left: -100%;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

#emptyListButton:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #4376d8;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* 996px */
@media (min-width: 62.25rem) {
  #headerOptions {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* 1200px */
@media (min-width: 75rem) {
  #headerOptions {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
