#wrapper {
  display: flex;
  margin: 4rem auto;
  max-width: 94rem;
  height: 46rem;
  width: 90%;
}

#content {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0;
  border-radius: 16px;
}

#title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: var(--primary);
  filter: brightness(0.7);
  margin-top: 1rem;
  font-size: 2.1rem;
}

#closeButtonWrapper {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#formAndButtonsWrapper {
  width: 80%;
}

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

#form input {
  height: 3rem;
  padding-left: 1.5rem;
  border-radius: 0.5625rem;
  border: 1px solid #999999;
}

#form input:not(:first-child) {
  margin-top: 1rem;
}

#buttonContainer {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  border: none;
  border: 1px solid #999999;
  border-radius: 8px;
  width: 100%;
  padding: 0.75rem 0;
  font-size: 1rem;
  color: var(--dark);
}

#signUpButton {
  background-color: var(--primary);
  margin-top: 1rem;
}

#hasAnAccount {
  font-family: "B612", sans-serif;
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 1.05rem;
}

#hasAnAccount button {
  cursor: pointer;
  border: none;
  font-size: inherit;
}

#hasAnAccount strong {
  font-size: inherit;
  color: #780fdb;
}

#signUpImg {
  display: none;
}

/* 776px */
@media (min-width: 48.5rem) {
  #wrapper {
    width: 70%;
  }

  #title {
    font-size: 2.625rem;
  }

  #form input {
    height: 3.5rem;
    border-radius: 0.65625rem;
  }

  #buttonContainer {
    flex-direction: row;
    justify-content: center;
  }

  .button {
    width: auto;
    padding: 1rem 1.75rem;
  }

  .button + .button {
    margin-left: 1rem;
  }

  #signUpButton {
    margin-top: 0;
  }

  #hasAnAccount {
    font-size: 1.1rem;
  }
}

/* 1124px */
@media (min-width: 70.25rem) {
  #wrapper {
    width: 90%;
  }

  #content {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #title {
    font-size: 2.825rem;
    margin-top: 0;
  }

  #hasAnAccount {
    font-size: 1.15em;
  }

  #signUpImg {
    display: block;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 32.8125rem;
  }
}

/* 1224px */
@media (min-width: 76.5rem) {
  #content {
    padding: 2.5rem;
  }
}

/* 1440px */
@media (min-width: 90rem) {
  #wrapper {
    width: 80%;
  }
}

/* 1600px */
@media (min-width: 100rem) {
  #wrapper {
    width: 75%;
  }

  #content {
    padding: 3.5rem;
  }

  #title {
    font-size: 3rem;
    margin-top: 2rem;
  }

  #form {
    margin-top: 4rem;
  }

  #form input {
    height: 4rem;
    border-radius: 0.75rem;
  }

  .button {
    font-size: 1.25rem;
    border-radius: 10px;
  }

  #hasAnAccount {
    margin-top: 3.5rem;
  }
}
