#container {
  padding: 4.25rem;
  height: 100%;
  background-color: #f5f5f5;

  /* 1920px */
  @media (min-width: 120rem) {
    padding: 6.25rem;
  }

  #preferences {
    margin-top: 4.25rem;

    /* 1920px */
    @media (min-width: 120rem) {
      margin-top: 5.625rem;
    }
  }
}

#submitButton {
  margin-top: 2.75rem;

  /* 1920px */
  @media (min-width: 120rem) {
    margin-top: 4rem;
  }
}

#hamburgerWrapper {
  width: 2.75rem;
  height: 1.625rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  display: initial;

  /* 996px */
  @media (min-width: 62.25rem) {
    display: none;
  }
}

.hamburger {
  left: 1.5rem;
}

.animatedHamburger {
  position: fixed !important;
  z-index: 10;
  left: 60%;
  transform: translateX(-200%);
  transition: all 0.2s;
  transition-timing-function: ease-in;
}
