#container {
  padding: 4.25rem;
  height: 100%;
  background-color: #f5f5f5;

  /* 1920px */
  @media (min-width: 120rem) {
    padding: 6.25rem;
  }

  #preferences {
    margin-top: 4.25rem;

    /* 1920px */
    @media (min-width: 120rem) {
      margin-top: 5.625rem;
    }
  }
}

#submitButton {
  margin-top: 2.75rem;

  /* 1920px */
  @media (min-width: 120rem) {
    margin-top: 4rem;
  }
}
