/*
  Titulo: font-family: 'Open Sans', sans-serif; (Open Sans) 
  Texto: font-family: 'B612', sans-serif; (B612); 
  */

/* Header Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header #headerContentWrapper {
  background-color: var(--dark);
  padding: 0 1.25rem;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header #headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120rem;
}

header #logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header #logoIcon {
  background-color: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header #logoIcon > img {
  width: 4.8rem;
  height: 4.8rem;
}

header #logoText {
  margin-left: 1.5rem;
  color: var(--light);
  font-family: "Fredoka One", "Righteous", "Arial", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #1acfb2, #3a308b);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

header #hamburgerButtonWrapper {
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 999;
}

header #hamburgerButton {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  outline: 0;
}

#hamburgerButton svg line {
  transition: all 0.25s;
}

#hamburgerButton svg line:nth-child(1) {
  transition: all 0.05s;
}

header .fixed {
  position: fixed !important;
}

header .hamburgerNormal > line {
  opacity: 1;
  transform: rotate(0) translateX(0) translateY(0);
}

.hamburgerClose > line:nth-child(1) {
  opacity: 0;
}

.hamburgerClose > line:nth-child(2) {
  transform: rotate(48deg) translateX(4px) translateY(-6px);
}

.hamburgerClose > line:nth-child(3) {
  transform: rotate(-48deg) translateX(-14px) translateY(-2px);
}

#navbar {
  display: none;
}

.navitem:first-child {
  border-right: 2px solid #595959;
  padding-right: 2rem;
}

.navitem:nth-child(2) {
  margin-left: 2rem !important;
}

.navitem + .navitem {
  margin-left: 1rem;
}

#navbar button + #navbar button {
  margin-left: 1rem;
}

#languageWrapper {
  position: relative;
}

/* Main Section Styles */
#introductionSection {
  padding: 3rem 1.4rem 6rem;
}

#introductionSection #scrollArrow {
  display: none;
}

#mainFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120rem;
}

#introductionTitle {
  font-family: var(--title);
  font-size: 3.2rem;
  color: var(--dark);
  line-height: 3rem;
}

#introductionDescription {
  display: block;
  margin-top: 2.375rem;
  font-family: var(--text);
  font-size: 1rem;
  color: #565656;
}

#introductionButtonContainer {
  margin-top: 3.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#introductionButton {
  transition: all 0.2s;
  font-family: var(--text);
  position: relative;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

#introductionButton:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0.45rem;
  left: 0.45rem;
  background-color: transparent;
  border: 1px solid var(--dark);
  border-radius: 4px;
  z-index: -1;
}

#introductionImgContainer {
  display: none;
}

#introductionImgContainer > img {
  width: 24rem;
  height: 24rem;
}

/* Pitch Section Styles */
#pitchSection {
  background: linear-gradient(180deg, #3b2188, #780fdb);
  padding: 6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0;
}

#pitchSection #moon {
  display: none;
}

#pitchSection > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pitchSection > div > h1 {
  font-family: var(--title);
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  position: relative;
  z-index: 1;
  text-align: center;
  letter-spacing: -1.5px;
  color: rgba(238, 238, 238, 0.6);
}

#pitchSection h1 > span {
  color: var(--light);
}

#pitch {
  background-color: #272334;
  background-image: url("../../assets/play-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6rem 6rem;
  width: 90%;
  height: 16rem;
  margin-top: 3rem;
  position: relative;
  z-index: 1;
}

/* Showcase Section Styles */
.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showcase + .showcase {
  margin-top: 2rem;
}

.showcaseTitle,
.showcaseDescription {
  text-align: center;
  color: var(--dark);
}

.showcaseTitle {
  font-size: 2.625rem;
  line-height: 2.8rem;
  font-family: var(--title);
}

.showcaseDescription {
  font-family: var(--text);
  margin-top: 1.25rem;
  margin-bottom: 3rem;
}

.showcaseImg {
  margin: auto 0;
}

/* Views Section Styles */
#viewsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#viewsSection > h1 {
  font-family: var(--title);
  font-weight: bold;
  font-size: 3.375rem;
  line-height: 3.5rem;
  text-align: center;
  color: var(--dark);
  letter-spacing: -1.5px;
}

#viewsSection > h1 > strong {
  color: #28ccc7;
  position: relative;
}

#viewsSection > h1 > strong:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/text-underline.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  top: 90%;
  left: 0;
  z-index: -1;
}

#viewsSection > p {
  font-family: var(--text);
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 3rem;
  color: var(--dark);
}

#viewsSection .options {
  margin-top: 4.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.option {
  border: 2px solid #a6a6a6;
  border-radius: 4px;
  background: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: 0.1s all;
}

.option + .option {
  margin-left: 1.125rem;
}

#viewsSection .selectedOption {
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border: 2px solid #28ccc7;
  transform: scale(1.15);
}

#viewsSection > img {
  width: 90%;
  max-width: 75rem;
  max-height: 39.0625rem;

  border: 1px solid #444444;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border-radius: 4px;
  background-color: #e0e0e0;
  margin-top: 1.25rem;
  display: none;
}

/* Auth Section Styles */
#authSection {
  background-image: url("../../assets/mobile-rectangle-stars.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 9rem 0 8rem;
}

#loginOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-bottom: 2rem;
}

#loginOptions > button {
  width: 90%;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
  color: var(--dark);
  padding: 1.5rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#loginOptions > button > img {
  min-width: 0px;
  max-width: 48px;
  max-height: 48px;
}

#loginOptions > button:nth-child(1) {
  margin-top: 1.75rem;
  background-color: #f86825;
  color: var(--light);
}

#loginOptions > button > span {
  margin-left: 1rem;
}

#authSectionSeparator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  transform: translateY(30%);
  z-index: 1;
}

#authSectionSeparator > img {
  min-width: 100vw;
  max-height: 12.5rem;
  min-height: 4.125rem;
}

/* Footer Styles */
footer {
  background: #301446;
  background: linear-gradient(180deg, #6a4487, #301446);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--text);
}

.footerInfo {
  display: flex;
  align-items: center;
}

.footerInfo > a,
.footerInfo > button {
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--text);
  font-size: 1rem;
  letter-spacing: 1.25px;
  border: 0;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerInfo svg,
.footerInfo img {
  margin-right: 1rem;
}

.footerInfo + .footerInfo {
  margin-top: 1.625rem;
}

/* Classes */
.signInButton,
.signUpButton {
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 0.6rem 1rem;
  font-size: 1.375rem;
  font-family: var(--text);
  font-weight: normal;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: all 0.2s;
}

.signInButton {
  background-color: #f86825;
  color: var(--dark);
}

.signInButton:hover {
  background-color: #ff8e59;
}

.signUpButton {
  background-color: var(--primary);
  color: var(--dark);
}

.signUpButton:hover {
  background-color: #04ccc5;
}

.languageButton {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageButton svg {
  stroke: var(--light);
}

.languageButton strong {
  margin-left: 0.5rem;
  font-family: var(--text);
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.5px;
  display: block;
  color: var(--light);
}

.sectionMargin {
  margin-top: 6rem;
  padding: 0 1rem;
}

/* Media queries */
/* 776px */
@media (min-width: 48.5rem) {
  #introductionSection {
    padding-top: 6rem;
  }

  #pitch {
    height: 19rem;
  }
}

/* 996px */
@media (min-width: 62.25rem) {
  header #headerContentWrapper {
    padding: 0 4rem;
  }

  header #hamburgerButtonWrapper {
    display: none;
  }

  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header #navbar .signInButton,
  header #navbar .signUpButton {
    border-radius: 2px;
    font-size: 1.2rem;
  }

  #navbar .languageButton strong {
    display: none;
  }

  #introductionSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 9rem;
    padding-top: 3rem;
    position: relative;
  }

  #introductionSection #scrollArrow {
    cursor: pointer;
    background: transparent;
    border: none;
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: block;
    animation-name: scrollArrowAnim;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    animation-iteration-count: infinite;
  }

  @keyframes scrollArrowAnim {
    0% {
      opacity: 0.8;
      transform: translateX(-50%) translateY(0);
    }
    50% {
      opacity: 0.6;
      transform: translateX(-50%) translateY(-40%);
    }
    100% {
      opacity: 0.8;
      transform: translateX(-50%) translateY(0);
    }
  }

  #introductionContainer {
    width: 28rem;
  }

  #introductionButtonContainer {
    display: block;
    position: relative;
    margin-top: 5rem;
  }

  #introductionButton:hover {
    transform: scale(1.2);
  }

  #introductionButton:after {
    border: none;
    border-radius: none;
  }

  #introductionImgContainer {
    display: block;
  }

  #pitchSection {
    background: none;
    background-image: url("../../assets/pitch-background.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  #pitchSection > div {
    padding-top: 6rem;
    position: relative;
  }

  #pitchSection #moon {
    display: block;
    width: 28rem;
    height: 28rem;
    position: absolute;
    z-index: 1;
    top: -5rem;
    right: -13rem;
  }

  #showcaseSection {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .showcase {
    flex-direction: row;
  }

  .showcase:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .showcase:nth-child(odd) > .showcaseTextContainer {
    margin-left: 4rem;
  }

  .showcase:nth-child(even) > .showcaseTextContainer {
    margin-right: 4rem;
  }

  .showcaseDescription {
    margin-bottom: 0;
  }

  .showcaseTitle,
  .showcaseDescription {
    text-align: left;
  }

  #viewsSection .options {
    display: flex;
  }

  #viewsSection > img {
    display: initial;
    width: 90%;
    height: auto;
  }

  #authSection {
    padding: 14rem 0 12rem;
    background-image: url("../../assets/rectangle-stars.png");
    padding-top: 18rem;
  }

  #loginOptions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-bottom: 2rem;
  }

  #loginOptions > button {
    width: 20rem;
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.2s;
  }

  #loginOptions > button:hover {
    transform: scale(1.1);
  }

  #loginOptions > button:nth-child(2) {
    margin-top: 0;
    margin-left: 4rem;
  }

  .sectionMargin {
    margin-top: 10rem;
  }
}

/* width: 996px */
/* height: 608px */
@media (min-width: 62.25rem) and (min-height: 38rem) {
  #introductionSection {
    padding-top: 0;
    padding-bottom: 0;
    min-height: calc(100vh - 6rem);
  }
}

/* width: 996px */
/* height: 1088px */
@media (min-width: 62.25rem) and (min-height: 68rem) {
  #introductionSection {
    min-height: initial;
  }
}

/* 1200px */
@media (min-width: 75rem) {
  #introductionContainer {
    width: 40rem;
  }

  #introductionDescription {
    width: 80%;
  }

  #introductionButtonContainer {
    margin-top: 7.25rem;
  }

  #pitch {
    width: 130%;
    height: 24rem;
    background-size: 10rem 10rem;
  }

  #showcaseSection {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

/* 1500px */
@media (min-width: 93.75rem) {
  header #headerContentWrapper {
    padding: 0 6rem;
  }

  #introductionSection {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  #introductionContainer {
    width: 46rem;
  }
}
