#hero {
  width: 26rem;
  height: 26rem;
}

#eye1 {
  animation: moveLeftEye 5s ease-in-out forwards infinite;
}

#eye2 {
  animation: moveRightEye 5s ease-in-out forwards infinite;
}

#eyeContainerWrapper1 {
  position: relative;
  stroke: red;
}

#eyeContainer1 {
  overflow: hidden;
}

#leftEyelid1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-1rem);
  animation: moveLeftEyelid1 1s ease-in-out infinite;
}
#leftEyelid2 {
  transform: translateY(1rem);
  animation: pisc 4s ease-in-out infinite;
}
#rightEyelid1 {
  transform: translateY(-1rem);
  animation: pisc 4s ease-in-out infinite;
}
#rightEyelid2 {
  transform: translateY(1rem);
  animation: pisc 4s ease-in-out infinite;
}

@keyframes moveLeftEyelid1 {
  from {
    transform: translateY(-1rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveLeftEye {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-2px) translateY(2px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes moveRightEye {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-2px) translateY(2px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes pisc {
  0% {
    opacity: 0;
  }
  50% {
  }
  100% {
    opacity: 1;
    fill: #3f3d56;
  }
}

/* 1200px */
@media (min-width: 75rem) {
  #hero {
    width: 28rem;
    height: 28rem;
  }
}

/* 1500px */
@media (min-width: 93.75rem) {
  #hero {
    width: 32rem;
    height: 32rem;
  }
}
