#hero {
  width: 26rem;
  height: 26rem;
}

#eye1 {
  animation: moveLeftEye 0.7s ease-in-out forwards;
}

#eye2 {
  animation: moveRightEye 0.7s ease-in-out forwards;
}

@keyframes moveLeftEye {
  0% {
    transform: translateX(0) translateY(0);
  }
  80% {
  }
  100% {
    transform: translateX(-2px) translateY(2px);
  }
}

@keyframes moveRightEye {
  0% {
    transform: translateX(0) translateY(0);
  }
  80% {
  }
  100% {
    transform: translateX(-2px) translateY(2px);
  }
}
