#hero {
  width: 26rem;
  height: 26rem;
}

#eye1 {
  animation: moveLeftEye 0.7s ease-in-out forwards;
}

#eye2 {
  animation: moveRightEye 0.7s ease-in-out forwards;
}

@keyframes moveLeftEye {
  0% {
    transform: translateX(0) translateY(0);
  }
  80% {
  }
  100% {
    transform: translateX(-2px) translateY(2px);
  }
}

@keyframes moveRightEye {
  0% {
    transform: translateX(0) translateY(0);
  }
  80% {
  }
  100% {
    transform: translateX(-2px) translateY(2px);
  }
}

@media (min-width: 75rem) {
  #hero {
    width: 28rem;
    height: 28rem;
  }
}

@media (min-width: 93.75rem) {
  #hero {
    width: 32rem;
    height: 32rem;
  }
}
