#container {
  height: 100%;
  display: grid;
  grid-auto-rows: min-content 1fr;
  grid-template-areas:
    "header"
    "main";
}

#main {
  background-color: #ebebeb;
  padding: 0 1.25rem;
  height: 100%;
}

#mainContent {
  margin: 0 auto;
  max-width: 120rem;
  height: 100%;
}

#mainHeaderWrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 4.5rem;
}

#mainHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filterContainer {
  display: flex;
  align-items: center;
}

#filterText {
  font-family: var(--title);
  font-size: 1rem;
  color: #1974d2;
}

#filterIcon {
  margin-left: 6px;
  transform: rotate(180deg);
}

#tableWrapper {
  width: 100%;
  height: 100%;
  height: calc(100% - 4.5rem);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#newProjectButton {
  border: 0;
  border-radius: 6px;
  background-color: #28ccc7;
  height: 2rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  font-family: var(--text);
  cursor: pointer;
}

.buttonText {
  margin-left: 6px;
  font-size: 1rem;
}

/* 414px */
@media (min-width: 25.875rem) {
  #newProjectButton {
    padding: 0 1.25rem;
  }
}

/* 600px */
@media (min-width: 37.5rem) {
  #newProjectButton {
    height: 2.25rem;
    padding: 0 1.40625rem;
  }

  .buttonIcon {
    width: 1.55rem;
    height: 1.55rem;
  }

  .buttonText {
    font-size: 1.125rem;
  }

  #filterText {
    font-size: 1.125rem;
  }
}

/* 996px */
@media (min-width: 62.25rem) {
  #main {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #tableWrapper {
    padding-top: 2.5rem;
  }
}

/* 1200px */
@media (min-width: 75rem) {
  #main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* 1500px */
@media (min-width: 93.75rem) {
  #main {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  #newProjectButton {
    height: 2.5rem;
    padding: 0 1.5625rem;
  }

  .buttonIcon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .buttonText {
    font-size: 1.25rem;
  }

  #filterText {
    font-size: 1.15rem;
  }
}

/* 1920px */
@media (min-width: 120rem) {
  #newProjectButton {
    height: 2.75rem;
    padding: 0 1.71875rem;
  }

  .buttonText {
    font-size: 1.375rem;
  }

  #filterText {
    font-size: 1.25rem;
  }
}
