#containerWrapper {
  display: none;
  min-height: 100vh;
  position: relative;
}

#container {
  display: none;
  min-height: 100vh;
  position: fixed;
  background-color: #242424;
}

#logoText {
  color: var(--light);
  font-family: "Fredoka One", "Righteous", "Arial", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #1acfb2, #3a308b);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-delay: 0.1s;
}

.collapsed #logoText {
  opacity: 0;
  transition: none;
}

#containerWrapper,
#container {
  width: 11.25rem;
  transition: all 0.15s;
}

#containerWrapper:not(.collapsed) * {
  transition-timing-function: ease-in;
}

#containerWrapper.collapsed * {
  transition-timing-function: ease-out;
}

#containerWrapper.collapsed,
#containerWrapper.collapsed #container {
  width: 4.85rem;
}

#sidebarContent {
  position: relative;
  z-index: 1;
}

#sidebarHeader {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 1rem;
}

#containerWrapper.collapsed #sidebarHeader {
  justify-content: center;
}

#logo {
  width: 3.5rem;
  height: 3.5rem;
}

#containerWrapper.collapsed #logo {
  width: 0rem;
}

#sidebarItems {
  margin-top: 4rem;
}

/* MEDIA QUERIES */

/* 996px */
@media (min-width: 62.25rem) {
  #containerWrapper,
  #container {
    display: block;
  }
}

/* 1920px */
@media (min-width: 120rem) {
  #containerWrapper,
  #container {
    width: 14.5rem;
  }

  #containerWrapper.collapsed,
  #containerWrapper.collapsed #container {
    width: 6.25rem;
  }

  #logo {
    width: 5rem;
    height: 5rem;
  }

  #logoText {
    font-size: 1.75rem;
  }
}
