#wrapper {
  display: flex;
  margin: 6rem auto;
  max-width: 60rem;
  width: 84%;

  /* 600px */
  @media (min-width: 37.5rem) {
    width: 70%;
  }

  /* 1200px */
  @media (min-width: 75rem) {
    width: 50%;
  }

  /* 1500px */
  @media (min-width: 93.75rem) {
    width: 40%;
  }
}

#content {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 4rem 2rem 2rem;
  border-radius: 16px;

  /* 600px */
  @media (min-width: 37.5rem) {
    padding: 3rem;
  }

  /* 1200px */
  @media (min-width: 75rem) {
    padding: 4rem;
  }

  /* 1500px */
  @media (min-width: 93.75rem) {
    padding: 5rem;
  }
}

#closeButtonWrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#emailText {
  color: #666666;
}

#buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 3.5rem;

  #cancelButton,
  #deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--text);
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    transition: all 0.2s;
  }

  #cancelButton {
    color: #777777;
    margin-right: 2rem;

    &:hover {
      color: var(--dark);
    }
  }

  #deleteButton {
    color: var(--dark);
    background: rgba(216, 92, 67, 0.4);
    border-radius: 4px;
    padding: 0.85rem 3.275rem;

    &:hover {
      background: rgba(216, 92, 67, 0.6);
    }
  }
}
