.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.table {
  min-width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-spacing: 0;
}

.table td,
.table th {
  white-space: nowrap;
}

.tr:not(:first-child) > .td {
  border-top: 1px solid #e0e0e0;
}

.tr:first-child > .td {
  border-top: 1px solid #d5d5d5;
}

.tr:not(:first-child) > .td,
.tr:first-child > .td {
  padding-top: 10px;
}

.th,
.td {
  padding-bottom: 10px;
  text-align: left;
}

.thDiv {
  display: flex;
  align-items: center;
}

.thIcon {
  display: none;
}

.thText {
  font-family: var(--text);
  font-size: 0.875rem;
  font-weight: normal;
  color: #666666;
}

.td {
  font-family: var(--text);
  font-size: 1rem;
  font-weight: normal;
  color: var(--dark);
}

.th:not(:first-child),
.td:not(:first-child) {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

/* 414px */
@media (min-width: 25.875rem) {
  .thIcon {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
  }

  .thText {
    font-size: 1rem;
  }

  .td {
    font-size: 1.125rem;
  }

  .th:not(:first-child),
  .td:not(:first-child) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* 600px */
@media (min-width: 37.5rem) {
  .thIcon {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.4rem;
  }
}

/* 996px */
@media (min-width: 62.25rem) {
  .thIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.45rem;
  }
}

/* 1500px */
@media (min-width: 93.75rem) {
  .thText {
    font-size: 1.125rem;
  }

  .td {
    font-size: 1.25rem;
  }
}
