/*
  Titulo: font-family: 'Open Sans', sans-serif; (Open Sans) 
  Texto: font-family: 'B612', sans-serif; (B612); 
  */

.sectionMargin {
  margin-top: 6rem;
  padding: 0 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#navigation {
  background-color: var(--dark);
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header #logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header #logoIcon {
  background-color: var(--primary);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header #logoText {
  margin-left: 1rem;
  color: var(--light);
}

#hamburgerDropdownWrapper {
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 999;
}

header #hamburgerDropdown {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  outline: 0;
}

.fixed {
  position: fixed !important;
}

#hamburgerDropdown svg line {
  transition: all 0.25s;
}

#hamburgerDropdown svg line:nth-child(1) {
  transition: all 0.05s;
}

.reverseAnimSvg > line:nth-child(1) {
  opacity: 1;
}

.reverseAnimSvg > line:nth-child(2) {
  transform: rotate(0) translateX(0) translateY(0);
}

.reverseAnimSvg > line:nth-child(3) {
  transform: rotate(0) translateX(0) translateY(0);
}

.hamburgerAnimatedSvg > line:nth-child(1) {
  opacity: 0;
}

.hamburgerAnimatedSvg > line:nth-child(2) {
  transform: rotate(48deg) translateX(4px) translateY(-6px);
}

.hamburgerAnimatedSvg > line:nth-child(3) {
  transform: rotate(-48deg) translateX(-14px) translateY(-2px);
}

header #dropdownMenu {
  width: 70%;
  background-color: #424242;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8.5rem;
  animation-name: dropdown-anim;
  animation-timing-function: ease-in;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  z-index: 5;
}

@keyframes dropdown-anim {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

#dropdownMenuOutside {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
}

.authButton {
  border: none;
  border-radius: 4px;
  width: 10rem;
  height: 3.125rem;
  font-size: 1.375rem;
  font-family: var(--text);
  font-weight: bold;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.signInButton {
  background-color: rgba(198, 161, 234, 0.7);
  color: var(--light);
  text-transform: uppercase;
}

.signUpButton {
  background-color: var(--primary);
  color: var(--dark);
  text-transform: uppercase;
}

.authButton + .authButton {
  margin-top: 1rem;
}

.languageButton {
  margin-top: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageButton svg {
  stroke: var(--light);
}

.languageButton strong {
  margin-left: 0.5rem;
  font-family: var(--text);
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.5px;
  display: block;
  color: var(--light);
}

main {
  margin-top: 3rem;
  padding: 0 1.4rem;
}

.introductionTitle {
  font-family: var(--title);
}

.introductionTitle h1 {
  font-size: 3.2rem;
  color: var(--dark);
  line-height: 3rem;
}

.introductionText {
  margin-top: 38px;
  font-family: var(--text);
}

.introductionText span {
  font-size: 1rem;
  color: #565656;
}

.introductionButton {
  margin-top: 3.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp {
  font-family: var(--text);
  position: relative;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.signUp:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0.45rem;
  left: 0.45rem;
  background-color: transparent;
  border: 1px solid var(--dark);
  border-radius: 4px;
  z-index: -1;
}

#pitchSection {
  background: linear-gradient(180deg, #3b2188, #780fdb);
  padding: 6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#pitchSection > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pitchSection h1 {
  font-family: var(--title);
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  position: relative;
  z-index: 1;

  text-align: center;
  letter-spacing: -1.5px;
  color: rgba(238, 238, 238, 0.6);
}

#pitchSection h1 > span {
  color: var(--light);
}

#pitch {
  background-color: #272334;
  background-image: url("./assets/play-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 12rem;
  margin-top: 3rem;
}

#viewsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#viewsSection > h1 {
  font-family: var(--title);
  font-weight: bold;
  font-size: 3.375rem;
  line-height: 3.5rem;
  text-align: center;
  color: var(--dark);
  letter-spacing: -1.5px;
}

#viewsSection > h1 > strong {
  color: #529915;
  background-image: url("./assets/text-underline.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

#viewsSection > p {
  font-family: var(--text);
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 3rem;

  color: var(--dark);
}

#viewsSection .options {
  margin-top: 4.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewsSection .option {
  border: 2px solid #a6a6a6;
  border-radius: 4px;
  background: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: 0.1s all;
}

#viewsSection .selectedOption {
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border: 2px solid #a8cc8a;
  transform: scale(1.15);
}

.option + .option {
  margin-left: 1.125rem;
}

#viewsSection > div:last-child {
  width: 90%;
  height: 280px;
  background-color: #e0e0e0;
  margin-top: 1.25rem;
}

#authSection {
  background-image: url("./assets/mobile-rectangle-stars.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 9rem 0 8rem;
}

#loginOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

#loginOptions > button {
  width: 90%;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
  color: var(--dark);
  padding: 1.5rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#loginOptions > button > img {
  min-width: 0px;
  max-width: 48px;
  max-height: 48px;
}

#loginOptions > button:nth-child(1) {
  background-color: var(--primary);
}

#loginOptions > button:nth-child(2) {
  margin-top: 1.75rem;
  background-color: #ae85d9;
  color: var(--light);
}

#loginOptions > button > span {
  margin-left: 1rem;
}

#authSectionSeparator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  transform: translateY(30%);
}

#authSectionSeparator > img {
  min-width: 100vw;
  max-height: 12.5rem;
  min-height: 4.125rem;
}

footer {
  background: #301446;
  background: linear-gradient(180deg, #6a4487, #301446);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--text);
}

.footerInfo {
  display: flex;
  align-items: center;
}

.footerInfo > a {
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--text);
  font-size: 1rem;
  letter-spacing: 1.25px;
  margin-left: 1rem;
}

.footerInfo + .footerInfo {
  margin-top: 1.625rem;
}

.titleThirdSection,
.descriptionThirdSection {
  text-align: center;
  color: var(--dark);
}

.titleThirdSection {
  font-size: 2.625rem;
  line-height: 2.8rem;
  font-family: var(--title);
}

.descriptionThirdSection {
  font-family: var(--text);
  margin-top: 1.25rem;
  margin-bottom: 3rem;
}

.imgThirdSection {
  margin: auto 0;
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.showcase + .showcase {
  margin-top: 2rem;
}

@keyframes star {
  0% {
    opacity: 0.2;
    transform: scale(1.1);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.9);
  }
  100% {
    opacity: 0.2;
  }
}
