* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

:root {
  --dark: #303030;
  --light: #eeeeee;
  --primary: #9de258;
  --title: 'Open Sans', sans-serif;
  --text: 'B612', sans-serif;
}

.noHorizontalScroll {
  overflow-y: hidden;
}